__pycache__/
*.pyc
.pytest_cache/
DDDenv/
DDDenv39/


*.mp4
*.avi
*.mov

.env
.env.*
.env.example

.vscode/
.idea/
.DS_Store
mediapipe-0.8.10.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl

Подсказки.txt